{% extends "./default.html" %}

{% block title %}{{title}}{% endblock %}
{% block header %}


<!-- Custom styles for this template -->
<link href="/css/blog.css" rel="stylesheet">
{% endblock %}

{% block body %}
    
{% block body %}    
<p class="lead">Union的区块链部分构建在开源的区块链平台Hyperledger Fabric之上。不像大部分公有链系统需要挖矿提供工作量证明来保证身份的可信。
    Union系统是有中心管理者的，但是管理者对Uni币的操控权限完全被智能合约限定，而且智能合约完全开源。Union的管理者并不
    一定要是一个身份，可以是几身份组成的一个小组织，组织内的身份都有管理网络的权限。虽然Union的管理权限集中在有限的一些身份里，
    但Union系统是去中心化的。Union管理者其实也是为Union工作的一些计算机，它们主要负责对Union用户进行身份认证、授权、新用户注册
    等工作，然后再从Union获得奖励。所以成为Union的区块链网络的节点需要经过严格的身份审核，当然也会获得丰厚的回报。
</p>

<p class="lead">

</p>
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">
      第一步：暂未开放
    </h2><h3><span class="text-muted">引入</span></h3>
    <p class="lead">由Union系统提供的网站服务，网站可以全球范围内自由访问，同时具备安全特性。归属于Union的网站，家用电脑就能充当服务器，获得系统Uni币奖励。
      Union内的网站都能提供身份验证和金融服务，安全便捷。
    </p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Union将做的事：</h2><h3><span class="text-muted">建设Uni币交易的网购平台</span></h3>
    <p class="lead">搭建网购平台将推升Uni币的实用价值。进一步整合各方面资源，提升Union系统的影响力。Union也争取从网购业务中盈利。</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Union愿景：</h2><h3><span class="text-muted">领导建立以外太空探索、殖民为目的的高科技公司</span></h3>
    <p class="lead">外太空探索、殖民是一项需要长期投入的事业，也是全人类的事业，应该全世界共同实现这一目标，而不是单单一个国家。Union作为一个全球化、分布式、开放透明的组织，理应担负起这个使命。</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

{% endblock %}